@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(280deg, rgba(65, 93, 250, 0.63), rgba(248, 255, 255, 0.817));
}

a{
    color: unset;
    text-decoration: none;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
    
}
.detail .image::before{
    position: absolute;
    width: 280px;
    height: 250px;
    content: '';
    background-color: #24252e59;
    z-index: -1;
    border-radius: 190px 80px 200px 150px;
    border: 0.1px solid rgb(243, 214, 214);
    left: calc(50% - 150px);
    top: -10px;
}
footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: black;
}

footer a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

footer a:hover {
  color: #007bff;
}

.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .button{
display: flex;
gap: 20px;
margin-bottom: 20px;
}
.detail .button button{
   background-color: rgba(239, 237, 237, 0.895);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
}
.detail .botton svg{
    width: 15px;
}
.detail .button span{
    background-color: gray;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    color: white;
}
.er {
  color: #1b82f7;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.er:hover {
  text-shadow: 0 0 5px #0c86d8, 0 0 10px #07e2ff, 0 0 20px #07e6ff,
    0 0 40px #0762ff, 0 0 80px #079cff;
}
.detail .button button:nth-child(2){
    background-color: rgba(40, 38, 43, 0.815);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px #2f2f2f77;
}
.detail .description{
    font-weight: 300;
}
.listproduct .item img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    padding: 10px;
    filter: drop-shadow(0 25px 20px black);
}
.listproduct{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image{
    height: 200px;
    width: 200px;
}
.item{
     box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(87, 81, 81, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px;
  background: rgba(255, 255, 255, 0.352);
  box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}
.item h2{
    font-size: large;
    font-weight: 500;
}
.price{
    letter-spacing: 7px;
    font-size: small;
}

@media screen and (max-width:992px) {
 
.detail{
    grid-template-columns: 40% 1fr;
}
}@media screen and (max-width:768px) {
   .detail{
    grid-template-columns: 1fr;
    text-align: center;
}
.detail .image{
    justify-self: center;
}
.detail .img img{
width: unset;
height: 40vh;
}
.detail .name{
    font-size: x-large;
    margin: 0;
}
.detail .button{
    font-size: small;
}
.detail .button{
    justify-content: center;
}
}